<div class="hero h-[80vh]">
  <div class="hero-content flex-col lg:flex-row">
    <img
      ngSrc="./assets/icons/icone-mascotte.png"
      alt="Icône mascotte BeGreen"
      height="512"
      width="512"
      class="max-w-sm rounded-full shadow-sm" />
    <div>
      <h1 class="text-5xl font-bold">
        Bienvenue sur notre plateforme encourageant l'écologie !
      </h1>

      <p class="py-6">
        L'objectif de BeGreen est de créer une communauté dynamique et
        motivante, où les utilisateurs partagent leurs réussites écologiques,
        éliminant ainsi les préjugés sur l'impact insignifiant des actions
        individuelles. En offrant une plateforme visuelle, BeGreen favorise une
        prise de conscience collective sur l'importance des choix quotidiens en
        matière d'écologie. Cette bulle d'optimisme et d'encouragement incite
        les membres à contribuer activement à la préservation de notre planète,
        renforçant ainsi l'efficacité des petits gestes dans la lutte contre les
        défis environnementaux.
      </p>

      <button
        type="button"
        routerLink="/home"
        routerLinkActive="active"
        class="btn btn-neutral">
        Démarrer <i class="fi fi-br-flag"></i>
      </button>
    </div>
  </div>
</div>
