<div class="hero min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    <img
      ngSrc="./assets/icons/icone-mascotte.png"
      alt="Icône mascotte BeGreen"
      height="512"
      width="512"
      class="max-w-sm rounded-full shadow-sm" />
    <div>
      <h1 class="text-5xl font-bold">
        Bienvenue sur notre plateforme encourageant l'écologie !
      </h1>

      <p class="py-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lectus a
        augue convallis hendrerit eu at nisl. Proin elementum ac enim non
        dictum. Donec finibus augue vitae eros feugiat, non auctor orci
        sagittis. Quisque fermentum ut orci sed tristique. Sed ut molestie
        metus, vel tristique tellus. Cras augue nunc, pharetra sit amet velit
        eu, sodales ultricies velit. Pellentesque malesuada vulputate nisi sit
        amet porttitor. Phasellus mi velit, auctor ut sodales non, sagittis non
        ligula.
      </p>

      <button
        type="button"
        routerLink="/home"
        routerLinkActive="active"
        class="btn btn-neutral">
        Démarrer
      </button>
    </div>
  </div>
</div>
