<label class="drawer-overlay"></label>
<div class="bg-base-100 py-4 w-80 h-full">
  <div class="px-4 hidden lg:block">
    <app-logo></app-logo>
  </div>
  <ul class="menu menu-sm lg:menu-md px-4 py-0">
    <li class="hidden lg:block"></li>

    <li>
      <a href="/defis" data-sveltekit-preload-data="hover" class="">
        <i class="fi fi-rr-calendar-clock w-5 h-5 text-secondary"></i>
        <span class="undefined">Défis</span>
      </a>
      <ul class="menu bg-base-200 w-56 rounded-box">
        <li><a>Journalier</a></li>
        <li><a>Hebdomadaire</a></li>
        <li><a>Mensuel</a></li>
      </ul>
    </li>
    <li><a>A propos</a></li>
  </ul>
</div>

