<label class="drawer-overlay"></label>
<div class="bg-base-100 py-4 w-80 h-full">
  <div class="px-4 hidden lg:block">
    <app-logo></app-logo>
  </div>
  <ul class="menu menu-sm lg:menu-md px-4 py-0">
    <li class="hidden lg:block"></li>
    <li class="menu-title flex flex-row gap-4">
      <span class="text-base-content">
        <i class="fi fi-rr-calendar-clock w-5 h-5 text-secondary"></i>
      </span>
      <span>Journalier</span>
    </li>
    <li>
      <a href="/defis" data-sveltekit-preload-data="hover" class="">
        <span class="undefined">Défis</span>
      </a>
    </li>
  </ul>
</div>

