<nav class="navbar bg-opacity-90 backdrop-blur">
  <!-- Logo -->
  <div class="navbar-start">
    <label for="my-drawer" tabindex="0" class="drawer-button btn btn-ghost btn-circle lg:hidden">
      <i class="fi fi-rr-menu-burger text-lg"></i>
    </label>
    <div class="lg:hidden">
      <app-logo></app-logo>
    </div>
  </div>

  <!-- nav items -->

  <div class="navbar-end gap-3">
    <ng-container *ngIf="(this.connected$ | async) as connected; else notConnected">
      coucou
    </ng-container>
    <ng-template #notConnected>
      <button class="btn btn-neutral" (click)="test()">theme</button>
      <button class="btn btn-primary" (click)="openDialogAuth()" >Connexion</button>
    </ng-template>
  </div>

</nav>
