<nav class="navbar bg-opacity-90 backdrop-blur">
  <!-- Logo -->
  <div class="navbar-start">
    <label for="my-drawer" tabindex="0" class="drawer-button btn btn-ghost btn-circle lg:hidden">
      <i class="fi fi-rr-menu-burger text-lg"></i>
    </label>
    <div class="lg:hidden">
      <a routerLink="/home" class="avatar">
        <div class="h-10">
          <img src="assets/icons/logo.svg" alt="logo" />
        </div>
      </a>
    </div>
  </div>

  <!-- nav items -->

  <div class="navbar-end">
    <ng-container *ngIf="(this.connected$ | async) as connected; else notConnected">
      <button class="btn btn-primary">Connexion</button>
    </ng-container>
    <ng-template #notConnected>
      <button class="btn btn-primary">Connexion</button>
    </ng-template>
  </div>

</nav>
